<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>campground</title>
</head>
<body>
    <h1>ALL CAMPGROUNDS</h1>

    <a href="/campground/new">Add new campground</a>

    <ul>
        <% for(let c of camp) {%>
        <li><a href="/campground/<%=c._id%>"><%=c.title%></a></li>
        <%}%>
    </ul>
</body>
</html>