<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>campground</title>
</head>
<body>
    <h1>ALL CAMPGROUNDS</h1>
    <ul>
        <% for(let c of camp) {%>
        <li><%=c.location%></li>
        <%}%>
    </ul>
</body>
</html>