<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>show</title>
</head>
<body>
    <h1><b><%=c.title%></b></h1>
    <h2><b><%=c.location%></b></h2>
    <footer>
        <a href="/campground/<%=c._id%>/edit">Edit</a>
        <div>
            <a href="/campground/">All Campgrounds</a>
        </div>
    </footer>

</body>
</html>